In [39]:
print("""
@File         : sharpe_ratio.py
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-02-24 23:23:12
@Email        : cuixuanstephen@gmail.com
@Description  : 夏普比率
"""
)

@File         : sharpe_ratio.py
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-02-24 23:23:12
@Email        : cuixuanstephen@gmail.com
@Description  :

In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.DataFrame(
    {
        "date": pd.date_range("2013-06-20", "2023-12-31", freq="6M"),
        "rtn": np.random.rand(22) - 0.2,
    }
)
df.head()

        date       rtn
0 2013-06-30  0.726179
1 2013-12-31 -0.198138
2 2014-06-30 -0.029812
3 2014-12-31  0.345550
4 2015-06-30  0.061090

In [42]:
sharpe_ratio = (df["rtn"].mean() * 2 - 0.038) / (df["rtn"].std() * np.sqrt(2))
sharpe_ratio

1.0244580077936005

In [49]:
rtn_year = df.groupby(pd.Grouper(key='date', freq='Y')).sum()

In [52]:
sharpe_ratio_freq_year = (rtn_year['rtn'].mean() - 0.038) / rtn_year['rtn'].std()

In [53]:
sharpe_ratio_freq_year

1.314452217026126