In [2]:
print("""
@File         : working_with_financial_data.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-05-04 21:53:48
@Email        : cuixuanstephen@gmail.com
@Description  : 
""")

@File         : working_with_financial_data.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-05-04 21:53:48
@Email        : cuixuanstephen@gmail.com
@Description  :

In [2]:
%cd ../../

d:\Quantitative\P4AT

In [5]:
fn = "./data/AAPL.csv"

In [7]:
import csv

csv_reader = csv.reader(open(fn, "r"))
data = list(csv_reader)
data[:3]

[['Date', 'HIGH', 'CLOSE', 'LOW', 'OPEN', 'COUNT', 'VOLUME'],
 ['2020-04-01',
  '248.72',
  '240.91',
  '239.13',
  '246.5',
  '460606.0',
  '44054638.0'],
 ['2020-04-02',
  '245.15',
  '244.93',
  '236.9',
  '240.34',
  '380294.0',
  '41483493.0']]

In [8]:
csv_reader = csv.DictReader(open(fn, "r"))
data = list(csv_reader)
data[:3]

[{'Date': '2020-04-01',
  'HIGH': '248.72',
  'CLOSE': '240.91',
  'LOW': '239.13',
  'OPEN': '246.5',
  'COUNT': '460606.0',
  'VOLUME': '44054638.0'},
 {'Date': '2020-04-02',
  'HIGH': '245.15',
  'CLOSE': '244.93',
  'LOW': '236.9',
  'OPEN': '240.34',
  'COUNT': '380294.0',
  'VOLUME': '41483493.0'},
 {'Date': '2020-04-03',
  'HIGH': '245.7',
  'CLOSE': '241.41',
  'LOW': '238.9741',
  'OPEN': '242.8',
  'COUNT': '293699.0',
  'VOLUME': '32470017.0'}]

In [10]:
sum(float(l["CLOSE"]) for l in data) / len(data)

272.38619047619045

In [11]:
import pandas as pd

data = pd.read_csv(fn, index_col=0, parse_dates=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2020-04-01 to 2020-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    21 non-null     float64
 1   CLOSE   21 non-null     float64
 2   LOW     21 non-null     float64
 3   OPEN    21 non-null     float64
 4   COUNT   21 non-null     float64
 5   VOLUME  21 non-null     float64
dtypes: float64(6)
memory usage: 1.1 KB

In [12]:
data.tail()

              HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-24  283.01  282.97  277.00  277.20  306176.0  31627183.0
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0

In [13]:
data['CLOSE'].mean()

272.38619047619056

In [16]:
data.to_excel(excel_writer='data/aapl.xlsx', sheet_name='AAPL')

In [17]:
data.to_json('data/aapl.json')

In [19]:
%ls -n data/

��Ч���� - ""��

In [20]:
data_copy_1 = pd.read_excel("data/aapl.xlsx", 'AAPL', index_col=0)

In [21]:
data_copy_1.head()

              HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
Date
2020-04-01  248.72  240.91  239.1300  246.50  460606  44054638
2020-04-02  245.15  244.93  236.9000  240.34  380294  41483493
2020-04-03  245.70  241.41  238.9741  242.80  293699  32470017
2020-04-06  263.11  262.47  249.3800  250.90  486681  50455071
2020-04-07  271.70  259.43  259.0000  270.80  467375  50721831

In [22]:
data_copy_2 = pd.read_json('data/aapl.json')

In [23]:
data_copy_2.head()

              HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
2020-04-01  248.72  240.91  239.1300  246.50  460606  44054638
2020-04-02  245.15  244.93  236.9000  240.34  380294  41483493
2020-04-03  245.70  241.41  238.9741  242.80  293699  32470017
2020-04-06  263.11  262.47  249.3800  250.90  486681  50455071
2020-04-07  271.70  259.43  259.0000  270.80  467375  50721831

In [25]:
import configparser

config = configparser.ConfigParser()
config.read('./token/pyalgo.cfg')

['./token/pyalgo.cfg']

In [28]:
import quandl as q

In [30]:
data = q.get("BCHAIN/MKPRU", api_key=config['quandl']['api_key'])

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5485 entries, 2009-01-02 to 2024-01-08
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   5485 non-null   float64
dtypes: float64(1)
memory usage: 85.7 KB

In [36]:
data['Value'].resample('YE').last()

Date
2009-12-31        0.000000
2010-12-31        0.299998
2011-12-31        4.470000
2012-12-31       13.570000
2013-12-31      746.900000
2014-12-31      315.700000
2015-12-31      428.230000
2016-12-31      958.120000
2017-12-31    14165.575000
2018-12-31     3791.545833
2019-12-31     7219.600000
2020-12-31    28856.590000
2021-12-31    47132.960000
2022-12-31    16599.690000
2023-12-31    42148.380000
2024-12-31    43928.070000
Freq: YE-DEC, Name: Value, dtype: float64

In [37]:
data = q.get("FSE/SAP_X", start_date='2018-1-1', end_date='2020-05-01',
             api_key=config['quandl']['api_key'])

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 579 entries, 2018-01-02 to 2020-04-30
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   257 non-null    float64
 1   High                   579 non-null    float64
 2   Low                    579 non-null    float64
 3   Close                  579 non-null    float64
 4   Change                 0 non-null      object
 5   Traded Volume          533 non-null    float64
 6   Turnover               533 non-null    float64
 7   Last Price of the Day  0 non-null      object
 8   Daily Traded Units     0 non-null      object
 9   Daily Turnover         0 non-null      object
dtypes: float64(6), object(4)
memory usage: 49.8+ KB

In [39]:
# 永久配置密钥
q.ApiConfig.api_key = config['quandl']['api_key']

In [42]:
# vol = q.get('VOL/MSFT')

In [3]:
from utils.sample_data import generate_sample_data

In [4]:
generate_sample_data(rows=5, cols=4)

                           No_0        No_1        No_2        No_3
2021-01-01 00:00:00  100.000000  100.000000  100.000000  100.000000
2021-01-01 00:01:00   99.863759  100.058698  100.064141  100.014955
2021-01-01 00:02:00   99.897498  100.071236  100.057483  100.009269
2021-01-01 00:03:00   99.955159  100.147172   99.936977  100.101257
2021-01-01 00:04:00   99.757867  100.280737   99.993005  100.135466

In [5]:
%time data = generate_sample_data(rows=5e6, cols=10).round(4)

CPU times: total: 2.66 s
Wall time: 3.45 s

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: min
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No_0    float64
 1   No_1    float64
 2   No_2    float64
 3   No_3    float64
 4   No_4    float64
 5   No_5    float64
 6   No_6    float64
 7   No_7    float64
 8   No_8    float64
 9   No_9    float64
dtypes: float64(10)
memory usage: 419.6 MB

In [9]:
h5 = pd.HDFStore('./data/data.h5', 'w')

In [10]:
%time h5['data'] = data

CPU times: total: 93.8 ms
Wall time: 412 ms

In [11]:
h5

<class 'pandas.io.pytables.HDFStore'>
File path: ./data/data.h5

In [12]:
h5.close()

In [13]:
h5 = pd.HDFStore('data/data.h5', 'r')
%time data_copy = h5['data']

CPU times: total: 594 ms
Wall time: 887 ms

In [14]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: min
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No_0    float64
 1   No_1    float64
 2   No_2    float64
 3   No_3    float64
 4   No_4    float64
 5   No_5    float64
 6   No_6    float64
 7   No_7    float64
 8   No_8    float64
 9   No_9    float64
dtypes: float64(10)
memory usage: 419.6 MB

In [15]:
h5.close()

In [17]:
%time data.to_hdf(path_or_buf='data/data.h5', key='data', format='table')

CPU times: total: 2.45 s
Wall time: 3 s

In [18]:
%time data_copy = pd.read_hdf('data/data.h5', 'data')

CPU times: total: 422 ms
Wall time: 532 ms

In [19]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: min
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No_0    float64
 1   No_1    float64
 2   No_2    float64
 3   No_3    float64
 4   No_4    float64
 5   No_5    float64
 6   No_6    float64
 7   No_7    float64
 8   No_8    float64
 9   No_9    float64
dtypes: float64(10)
memory usage: 419.6 MB

In [20]:
import tables as tb

In [21]:
h5 = tb.open_file('data/data.h5', 'r')

In [22]:
h5

File(filename=data/data.h5, title='', mode='r', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group) ''
/data/table (Table(5000000,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": Float64Col(shape=(10,), dflt=0.0, pos=1)}
  byteorder := 'little'
  chunkshape := (2978,)
  autoindex := True
  colindexes := {
    "index": Index(6, mediumshuffle, zlib(1)).is_csi=False}

In [23]:
h5.root.data.table[:3]

array([(1609459200000000000, [100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    ]),
       (1609459260000000000, [ 99.8772,  99.9576,  99.9863,  99.94  ,  99.9698,  99.9574, 100.0063, 100.0618,  99.9442,  99.9738]),
       (1609459320000000000, [ 99.8829, 100.0077,  99.9661,  99.9899, 100.0099,  99.8829,  99.9339,  99.9161,  99.9641,  99.8352])],
      dtype=[('index', '<i8'), ('values_block_0', '<f8', (10,))])

In [24]:
h5.close()

### 使用 TsTables

In [3]:
from utils.sample_data import generate_sample_data

In [3]:
%%time
data = generate_sample_data(rows=2.5e6, cols=5, freq='1s').round(4)

CPU times: total: 656 ms
Wall time: 800 ms

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2500000 entries, 2021-01-01 00:00:00 to 2021-01-29 22:26:39
Freq: s
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   No_0    float64
 1   No_1    float64
 2   No_2    float64
 3   No_3    float64
 4   No_4    float64
dtypes: float64(5)
memory usage: 114.4 MB

In [5]:
import tstables
import tables as tb

In [6]:
class desc(tb.IsDescription):
    """Description of TsTables table structure"""
    
    timestamp = tb.Int64Col(pos=0)
    No0= tb.Float64Col(pos=1)
    No1= tb.Float64Col(pos=2)
    No2= tb.Float64Col(pos=3)
    No3= tb.Float64Col(pos=4)
    No4= tb.Float64Col(pos=5)

In [7]:
h5 = tb.open_file('data/data.h5ts', 'w')

In [8]:
ts = h5.create_ts('/', 'data', desc)
# The TsTables table is created at the root node, with name data and given the
# class-based description desc.

In [9]:
h5
# Inspecting the database file reveals the basic principle behind the hierarchical
# structuring in years, months, and days.

File(filename=data/data.h5ts, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2024 (Group) ''
/data/y2024/m05 (Group) ''
/data/y2024/m05/d06 (Group) ''
/data/y2024/m05/d06/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

In [10]:
%time ts.append(data)

AttributeError: module 'pandas.tseries' has no attribute 'index'

In [11]:
data

                         No_0      No_1      No_2      No_3      No_4
2021-01-01 00:00:00  100.0000  100.0000  100.0000  100.0000  100.0000
2021-01-01 00:00:01   99.9909   99.9927   99.9919  100.0067   99.9997
2021-01-01 00:00:02   99.9862  100.0031   99.9806  100.0032  100.0098
2021-01-01 00:00:03   99.9879  100.0156   99.9677  100.0194  100.0094
2021-01-01 00:00:04  100.0003  100.0218   99.9727  100.0162  100.0156
...                       ...       ...       ...       ...       ...
2021-01-29 22:26:35   98.7301   86.6235  106.5060   84.5051  104.0618
2021-01-29 22:26:36   98.7393   86.6101  106.4890   84.5101  104.0631
2021-01-29 22:26:37   98.7330   86.6088  106.4912   84.5195  104.0693
2021-01-29 22:26:38   98.7289   86.6100  106.5069   84.5192  104.0690
2021-01-29 22:26:39   98.7302   86.6031  106.5155   84.5238  104.0863

[2500000 rows x 5 columns]

:

In [4]:
%time data = generate_sample_data(1e6, 5, '1min').round(4)

CPU times: total: 234 ms
Wall time: 289 ms

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000000 entries, 2021-01-01 00:00:00 to 2022-11-26 10:39:00
Freq: min
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   No_0    1000000 non-null  float64
 1   No_1    1000000 non-null  float64
 2   No_2    1000000 non-null  float64
 3   No_3    1000000 non-null  float64
 4   No_4    1000000 non-null  float64
dtypes: float64(5)
memory usage: 45.8 MB

In [6]:
import sqlite3 as sq3

In [7]:
con = sq3.connect('data/data.sql')

In [8]:
%time data.to_sql('data', con)

CPU times: total: 2.69 s
Wall time: 4.1 s

1000000

In [11]:
query = """SELECT * FROM data WHERE No_1 > 105 and No_2 < 108"""

In [13]:
%time res = con.execute(query).fetchall()

CPU times: total: 750 ms
Wall time: 930 ms

In [14]:
res[:5]

[('2021-04-03 15:30:00', 94.2597, 105.0015, 71.4434, 82.394, 149.0089),
 ('2021-04-03 16:02:00', 94.4239, 105.0152, 71.6614, 82.4119, 148.448),
 ('2021-04-03 16:06:00', 94.4806, 105.0084, 71.6951, 82.5989, 148.5133),
 ('2021-04-03 16:12:00', 94.4829, 105.0949, 71.8821, 82.8376, 148.3034),
 ('2021-04-03 16:13:00', 94.3883, 105.1243, 71.8208, 82.78, 148.1812)]

In [15]:
len(res)

546123